.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nameInput {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 500px;
  border-radius: 20px;
  border: 3px solid red;
  margin: 10px;
}

p {
  margin: 10px;
}

input {
  font-family: Arial;
  font-size: 16px;
  font-weight: 200;
  margin: 10px;
}

.messages-window {
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  height: 500px;
  overflow-x: hidden;
}

.message {
  word-break: break-all;
  font-family: Arial;
  font-size: 16px;
  font-weight: 200;
}

.connectedUsers {
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
}
