<div class="container">
  <div class="nameInput">
    <div class="messages-window">
      <div *ngFor="let message of messages">
        <p class="message">{{message}}</p>
      </div>
    </div>
    <input type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()">
  </div>
</div>
<div class="container">
  <div class="nameInput">
    <p class="connectedUsers">Connected users:</p>
      <div *ngFor="let user of connectedUsers">
        <p class="connectedUsers">{{user}}</p>
      </div>
  </div>
</div>
